html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0; }

.container {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(3, minmax(6rem, auto)); }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(8, minmax(2rem, 1fr));
  grid-template-rows: repeat(2, minmax(5rem, max-content)); }

.about-me {
  grid-column: 2 / 12;
  grid-row: 2 / 2;
  height: 70vh;
  color: #181818;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-me-title {
    font-size: 4rem; }
  .about-me-paragraph {
    font-size: 1.6rem;
    text-align: center; }

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 3;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer-list {
    font-size: 2rem;
    color: #000;
    list-style: none; }
  .footer-license-text {
    font-size: 1.5rem;
    color: gray; }

.header-nav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 10vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-nav-list {
    width: 100%;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none; }

.header-img {
  grid-column: 1 / -1;
  grid-row: 2 / 2;
  height: 80vh;
  background-color: #ffffff;
  position: relative; }
  .header-img-first {
    position: absolute;
    top: 0;
    left: -430px;
    width: inherit;
    height: inherit;
    object-fit: cover; }
