.nav-list-container{
    position: fixed;
    width: 100vw;
    height: 95vh;
    z-index: 280;
    background-color: lighten(color(secondary), 20%);
    display: none;
}


.header-nav{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 10vh;
    width: 100%;
    background-color: black;

    &-logo {
        color: color(primary);
        position: absolute;
        top: 20px;
        left: 25px;
        font-size: fontSize(xl) + 1rem;
    }
    
    &-list {
        width: inherit;
        height: inherit;
        color: darken(color(primary), 10);
        font-size: fontSize(lg);
        margin: 0;
        padding: 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &-item {
            margin: 1rem 0;
        }
    }
}

