.header-img{
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    height: 80vh;
    background-color: #ffffff;
    position: relative;

    &-first{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        object-fit: cover;
    }
}

.slideshow-overlay {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:inherit;
    z-index: 100;
    color: darken(color(primary), 10%);
    background: linear-gradient(transparentize(color(secondary), 1), color(secondary));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include response(md) {
        align-items: flex-start;
    }

    &-title{
        font-size: fontSize(xl);
        align-self: start;
        margin-left: 20px;

        @include response(md) {
            font-size: fontSize(xl) + 2rem;
        }
    }

    &-paragraph {
        font-size: fontSize(md);
        margin: 0 20px 40px;

        @include response(md) {
            font-size: fontSize(lg);
        }
    }
}