html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows:  repeat(3, minmax(6rem, auto));
}