.about-us {
    grid-column: 2 / 12;
    grid-row: 2 / 2;
    color: #181818;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include response(xl) {
        height: 70vh;
    }

    &-title{
        font-size: fontSize(xl);

        @include response(md) {
            font-size: fontSize(xl) + 1rem;
        }
    }

    &-paragraph {
        font-size: fontSize(xs);
        text-align: center;

        @include response(md) {
            font-size: fontSize(md);
        }
    }
}